<form [formGroup]="testForm">
  <mat-card class="question-container">
    <mat-card-content>
      <h3>
        <strong>{{ radioQuestion.id }}</strong
        ><span>.</span>{{ radioQuestion.Questions }}
      </h3>
      <div class="choose-option">
        <mat-radio-group
          (change)="optionChoosen()"
          formControlName="answer"
          aria-label="Select an option"
        >
          <div class="op1">
            <mat-radio-button value="1">{{
              radioQuestion.Choices[0]
            }}</mat-radio-button>
          </div>
          <div class="op2">
            <mat-radio-button value="2">{{
              radioQuestion.Choices[1]
            }}</mat-radio-button>
          </div>
          <div class="op3">
            <mat-radio-button value="3">{{
              radioQuestion.Choices[2]
            }}</mat-radio-button>
          </div>
          <div class="op4">
            <mat-radio-button value="4">{{
              radioQuestion.Choices[3]
            }}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>
</form>
