.remark {
    text-align: center;
  }
  
  .answer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
  }
  
  .val {
    color: green; 
  }