<div class="remark">
    <div class="prize">
        <img src="https://media.istockphoto.com/id/1183252990/vector/first-prize-gold-trophy-icon-prize-gold-trophy-winner-first-prize-vector-illustration-and.jpg?s=612x612&w=0&k=20&c=cr3yNa3yDHeqaN_-2W8TmGvuZ2hLXufO75KOdjY-1uo=" alt="">
    </div>
    <div class="sentence">
        <h1>Wow You got </h1>
    </div>
</div>
<div>
    @for(list of allAnswers ; track $index){
    <p>Question: {{ list.id }}</p>
    <p>Correct Option: {{ list.answer}}</p>
    }
  </div>
   
   
   <!-- <li><a routerLink="/answers"></a></li> -->
