@if(QuestionsData.length > 0 ) { @if(question.question_type=='MCQ' ) {
<app-question-overview
  [radioQuestion]="question"
  [answer]="answer"
  (AnsEvent)="patchAnswers($event)"
/>
} @else {
<app-questionbar [question]="question" />
} }

<div class="button-group">
  @if (!isFirstQuestion()) {
  <button class="button back-button" (click)="prevQuestion()">BACK</button>
  } @if (!isLastQuestion()) {
  <button class="button next-button" (click)="nextQuestion()">NEXT</button>
  } @if (isLastQuestion()) {
  <button class="button-submit-button" (click)="submitQuestions()">
    SUBMIT
  </button>
  }
</div>
