<div class="homepage">
  <header>
    <h1>Welcome to The Quiz!</h1>
    <p>
      Your one-stop destination for comprehensive exam preparation resources.
      Whether you're gearing up for high school finals, college entrance exams,
      or professional certifications, we’re here to support your journey to
      success.
    </p>
  </header>

  <section class="call-to-action">
    <h2>Ready to Get Started?</h2>
    <p>This is your ultimate destination for comprehensive exam preparation</p>
    <button mat-raised-button color="primary" (click)="starttest()">
      Start Test
    </button>
  </section>
</div>
